.smart-object {
  margin: 10px;
  display: block;
  float: left;
  resize: both;
  overflow: auto;
}

.smart-object.pinned {
  float: none;
  resize: none;
  overflow: auto;
}

.smart-object.collapsed {
  resize: none;
  overflow: none;
}

.smart-object.collapsed .smart-object{
  display: none;
}

.smart-object ul {
  display: block;
}

.smart-object.collapsed ul {
  display: none;
}

.smart-object.background {
  position: absolute;
  float: none;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  z-index: -1;
}

.maximized {
  position: absolute;
  float: none;
  top: 0;
  left: 0;
  width: 98.5%;
  height: 100%;
  z-index: 1;
}


