.smart-object {
  width: auto;
  margin: 10px;
}

.toolbar {
  margin-right: 0px;
  margin-left: auto;
}

.collapsed .smart-object{
  display: none;
}

.smart-object .navbar ul {
  display: none;
}

.smart-object .navbar.active ul {
  display: block;
}


.smart-object .navbar ul.active {
  display: block;
}